@import url("components/button.css");
@import url("components/container.css");
@import url("components/banner.css"); 
@import url("components/card.css");
@import url("components/avatar.css");


body{
	font-family: Helvetica;
	font-size: 18px;
	margin: 0px;
	background-color: rgb(255, 186, 90);

}
h1{
	font-size: 30px;
	font-family: Helvetica;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

h2,h3{ 
	font-family: Helvetica;
	font-size: 26px;
	font-weight: lighter;
 }

a{
	font-family:Helvetica;
	color:rgb(255, 51, 51);
	font-weight: bolder;
	font-size: 20px;
}
a:hover{
	color:rgb(255, 136, 51);
 }

.cards {
  display: flex;
	flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 40px;
}